# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dépendances
node_modules/

# Expo / EAS
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
.eas-build/

# Généré par Metro
.metro-health-check*

# Fichiers de debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.orig.*

# Variables d'environnement
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# NATIF (Android & iOS)
# Ces dossiers seront générés par EAS Build, on ne les versionne PAS
/android/
/ios/

# Fichiers de build Android
*.apk
*.aab
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision


# Fichiers spécifiques Kotlin (si présents localement)
.kotlin/
*.class

# Fichiers temporaires Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache


# Fichiers de cache
.cache/
*.tmp
*.temp